# AWS Configuration
AWS_ACCOUNT_ID=
AWS_REGION=
CLUSTER_NAME=url-shortener-cluster

# Redis Configuration
REDIS_PASSWORD=

# Backend Configuration
BACKEND_HOST=http://localhost:9808
CORS_ORIGIN=http://localhost:5173

# Frontend Configuration
VITE_API_URL=http://localhost:9808 